/* Header сайта с градиентным фоном и навигацией*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #4facfe 0%, #169aa1 100%);
  color: #ffffff;
}

header nav a {
  margin-left: 1rem;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none !important; 
  border-bottom: 2px solid transparent;
}

header nav a:hover {
  transform: scale(1.1);
  border-bottom: 2px solid #ffffff;
}

/* Основной контент сайта */
main {
  max-width: 1000px;       
  margin: 2rem auto;       
  line-height: 1.6;        
  font-family: Arial, sans-serif; 
  color: hsl(0, 0%, 100%);          
}

main h1, main h2, main h3 {
  color: #93abc2;           
}

main p {
  margin-bottom: 1rem;
}

main ul, main ol {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

/* Секции и карточки в main */
main section {
  background-color: #759bbe; 
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;        
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

main section h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #31465c;
}

main section p {
  margin-bottom: 0.5rem;
}

